<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<header th:insert="menu :: header"></header>
<div class="container mt-5 mb-5" style="relative; max-width:900px;min-height: calc(100vh - 216px);">
<div />
    <div class="row">
        <div class="col">
            <img src="pictures/startPagePic.jpg" width style="width: 100%;">
        </div>
        <div class="col row align-items-center">
            <form method="post" action="/login">
                <div class="mb-2">
                    <h2>RecipeBook</h2>
                </div>
                <div class="mb-2">
                    <p>Welcome to RecipeBook. A place to share your favorite recipes.</p>
                </div>
                <div class="mb-2">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name ="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"style="width: 100%;">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" style="width: 100%;">
                    <div style="padding-top:5px">
                        <button type="submit" class="btn btn-primary">Login</button> <button href="/register" type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div style="height: 136px;"></div>
<footer th:insert="footer :: footer"  class="w-100"/>
</body>
</html>