<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/pictures/logo.png">
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<header th:insert="menu :: header"></header>
<div class="container mt-5 mb-5" style="relative; max-width:900px;min-height: calc(100vh - 216px);">
<div />
    <div class="row">
        <div class="col">
            <img src="pictures/startPagePic.jpg" width style="width: 100%;">
        </div>
        <div class="col row align-items-center">
            <form method="post" action="/login" th:object="${login}">
                <div class="mb-2">
                    <h1>RecipeBook</h1>
                </div>
                <div class="mb-2">
                    <p>Welcome to RecipeBook. A place to share your favorite recipes.</p>
                </div>
                <div th:if="${error} == true" class="alert alert-danger">
                    Email or password does not exist!
                </div>
                <div class="mb-2">
                    <label for="InputEmail" class="form-label">Email address</label>
                    <input type="text" th:field="*{email}" class="form-control" id="InputEmail" style="width: 100%;" th:errorclass="is-invalid">
                    <span th:if="${#fields.hasErrors('email')}" class="invalid-feedback">Email is not filled in correctly</span>
                </div>
                <div class="mb-2">
                    <label for="InputPassword" class="form-label">Email address</label>
                    <input type="password" th:field="*{password}" class="form-control" id="InputPassword" style="width: 100%;" th:errorclass="is-invalid">
                    <span th:if="${#fields.hasErrors('password')}" class="invalid-feedback">Password needs to be between 3 and 30 characters</span>
                    <div style="padding-top:5px">
                        <button type="submit" class="btn btn-primary">Login</button> <a href="/register" class="btn btn-primary">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div style="height: 136px;"></div>
<footer th:insert="footer :: footer"  class="w-100"/>
</body>
</html>