<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <header th:insert="menu :: header"></header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>RecipeBook</title>


  </form>
</head>
  </div>
<body>
<div class="container" style="align-center;">
<form  method="POST" action="/login" >
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email"  name="username"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    <div style="padding-top:5px">
      <button type="submit" class="btn btn-primary">Login</button> <button href="/register" type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>

</form>

<div style="padding-left:30px">
<div style="padding-top:80px">
<h3>Nyligen tillagda recept</h3>
</div>
<div style="padding-top:30px">
<table>
<thead>
<th><div class="card" style="width: 18rem;height:220px;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mammas Fisksoppa</h5>
    <p class="card-text">Världens godaste fisksoppa som min mamma Pocahontas har gjort</p>
    <a href="/recipes/1" class="btn btn-primary">Recept</a>
  </div>
</div>
</th>
<th>
  <div class="card" style="width: 18rem;height:220px;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pippi's sockerdricka</h5>
      <p class="card-text">Få till sockerdrickan precis som pippi.</p>
      <a href="/recipes/2" class="btn btn-primary">Recept</a>
    </div>
  </div>
</th>
<th>
  <div class="card" style="width: 18rem;height:220px;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jönssonligan's Jansson</h5>
      <p class="card-text">Vilken jävla smäll! Så gott!</p>
      <a href="/recipes/3" class="btn btn-primary">Recept</a>
    </div>
  </div>
</th>
</thead>
</table>
</div>
</div>
</div>
</body>
</html>