<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/pictures/logo.png">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Recipe</title>
</head>
<body>
<header th:insert="menu :: header"></header>

<div class="container d-flex flex-column align-items-center mt-5 mb-5" style="max-width:900px; min-height: calc(100vh - 216px);">
    <div class="row">
        <div class="col">
            <img src="pictures/profilePic.png" width style="width: 100%;">
        </div>
        <div th:if="${foreignUser == null}" class="col-10">
            <div class="mb-2">
                <h1>Profile</h1>
            </div>
            <div class="mb-1">
                <p th:text="'Username: ' + ${user.username}" />
                <p th:text="'E-mail: ' + ${user.email}" />
            </div>
            <div>
                <p th:text="'First name: ' + ${user.firstName}" />
                <p th:text="'Surname: ' + ${user.surName}" />
                <p th:text="'Age: ' + ${user.age}" />
                <p th:text="'City: ' + ${user.city}" />
                <p th:text="'Description: ' + ${user.description}" />
            </div>
        </div>
        <div th:if="${foreignUser != null}" class="col-10">
            <div class="mb-2">
                <h1>User profile</h1>
            </div>
            <div class="mb-1">
                <p th:text="'Username: ' + ${foreignUser.username}" />
                <p th:text="'E-mail: ' + ${foreignUser.email}" />
            </div>
            <div>
                <p th:text="'First name: ' + ${foreignUser.firstName}" />
                <p th:text="'Surname: ' + ${foreignUser.surName}" />
                <p th:text="'Age: ' + ${foreignUser.age}" />
                <p th:text="'City: ' + ${foreignUser.city}" />
                <p th:text="'Description: ' + ${foreignUser.description}" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" onclick="history.go(-1);">Back</button>
        </div>
        <div class="col">
            <a th:if="${foreignUser == null}" href="/edit" class="btn btn-primary">Edit</a>
            <a th:if="${foreignUser != null && isFollowing == null}" th:href="'/followUser/' + ${foreignUser.id}" class="btn btn-primary">Follow</a>
        </div>
    </div>
</div>
<div style="height: 136px;"></div>
<div th:insert="footer :: footer"  class="w-100"/>
<script src="/js/bootstrap.js"></script>
</body>
</html>