<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/pictures/logo.png">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <title>Recipe</title>
</head>
<body>
<header th:insert="menu :: header"></header>

<div class="container d-flex flex-column align-items-center mt-5" style="max-width:900px">
        <div class="row">
            <div class="col">
                <img src="pictures/profilePic.png" width style="width: 100%;">
            </div>
            <div class="col-10">
                <div class="mb-2">
                    <h1>Profile</h1>
                </div>
                <div class="mb-1">
                    <p th:text="'Username: ' + ${user.username}" />
                    <p th:text="'E-mail: ' + ${user.email}" />
                </div>
                <div>
                    <p th:text="'First name: ' + ${user.firstName}" />
                    <p th:text="'Surname: ' + ${user.surName}" />
                    <p th:text="'Age: ' + ${user.age}" />
                    <p th:text="'City: ' + ${user.city}" />
                </div>
            </div>
        </div>
        <a href="/edit" class="btn btn-primary">Edit</a>
</div>

<script src="/js/bootstrap.js"></script>
</body>
</html>